.model-container {
  margin: 12px 0;

  .tabs {
    .tab a {
      padding: 0 6px;
    }

    a:not(.disabled) {
      cursor: pointer;
    }

    a.disabled {
      cursor: not-allowed;
    }
  }
}

.model-code-block {
  pre {
    padding: 12px !important;
  }
}
